{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Movies{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('matabase.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for movie in movies %}
<article class="post">
    <header>
        <div>
            <h1>{{ movie['title'] }}</h1>
            <div class="about">by {{ movie['username'] }} on {{ movie['createdDate'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == movie['user'] %}
        <a class="action" href="{{ url_for('matabase.update', id=movie['id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body">{{ movie['year'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}