{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/css.css' %}">
    <title>Lovie</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                aria-controls="offcanvasTop" data-toggle="tooltip" title="MENU">
                <span class="navbar-toggler-icon text-info"></span>
            </button>
            <a class="nav-link link-light" aria-current="page" href="{% url 'homePage' %}" data-toggle="tooltip"
                title="Back to the beginning...">
                <i class="bi bi-house-heart text-info"></i>
            </a>
            <a class="nav-link link-light d-none d-md-block d-lg-block d-xl-block d-xxl-block" aria-current="page"
                href="{% url 'homePage' %}" data-toggle="tooltip"
                title="Back to the beginning...">
                <img src="{% static 'lovienions.png' %}" alt="logo" width="40" height="40">
            </a>
            <a class="nav-link link-light" href="{% url 'dashboardPage' %}" data-toggle="tooltip" title="Show to statistics">
                <i class="bi bi-motherboard text-info"></i>
            </a>
            <form class="d-flex col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4" role="search" action=""
                method="post">
                {% csrf_token %}
                <input class="form-control form-control-sm text text-center" type="search" placeholder="Search movie"
                    aria-label="Search" id="searchField" name="searchField" {% if not messages %}autofocus{% endif %}>
                <button class="btn btn-outline-secondary btn-sm" type="submit" id="searchButton" name="searchButton"
                    data-toggle="tooltip" title="Search through record(s)">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </nav>
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title nav nav-brand {% if not request.user.is_authenticated %} d-none d-md-block{% endif %}" id="offcanvasTopLabel"><span
                    style="color: #8785a2;"><strong>L<em>ovie</em></strong></span>
            </h6>
            <a class="nav-link link-dark" aria-current="page" href="{% url 'homePage' %}" data-toggle="tooltip"
                title="Back to the beginning...">
                <i class="bi bi-house-heart"></i>
                Home
            </a>
            <h6 class="offcanvas-title nav-brand" id="offcanvasTopLabel"> | </h6>
            <a class="nav-link link-dark" href="{% url 'dashboardPage' %}" data-toggle="tooltip" title="Show to statistics">
                <i class="bi bi-motherboard"></i>
                Dashboard
            </a>
            {% if not request.user.is_authenticated %}
            <h6 class="offcanvas-title nav-brand" id="offcanvasTopLabel"> | </h6>
            <a class="nav-link link-dark" href="{% url 'userPage' %}" data-toggle="tooltip" title="Show to statistics">
                <i class="bi bi-person-plus"></i>
                Register
            </a>
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% if request.user.is_authenticated %}
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <p class="text text-end">Hi <em>{{ user.get_username }}[{% if request.user.is_staff %}Staff{% else %}User{% endif %}]</em></p>
                            </div>
                            <div class="col-4">
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-danger bi bi-box-arrow-right" type="submit">logout</button>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="row justify-content-center">
                            <div class="col col-12 col-sm-12 col-md-4">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Username"
                                            aria-label="Username" aria-describedby="login" name="username" id="username">
                                        <input type="password" class="form-control" placeholder="Password"
                                            aria-label="Password" aria-describedby="login" name="password" id="password">
                                        <button class="btn btn-outline-secondary" type="submit"
                                            id="loginButton" name="loginButton">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-3">
            <div class="col">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <footer class="py-4 py-md-5 mt-5 bg-dark text text-info">
        <div class="container py-4 py-md-5 px-4 px-md-3">
            <div class="row">
                <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                    <div class="accordion accordion-flush" id="accordionExample">
                        <div class="accordion-item bg bg-dark">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button bg bg-dark text text-white" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    About
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body bg bg-dark text text-muted">
                                    <strong>Lovie</strong> is a small movie database project developed by <code>La's
                                        group</code>.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg bg-dark">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed bg bg-dark text text-white" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    License
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body bg bg-dark text text-muted">
                                    Copyright (c) 2022-2222 La

                                    Permission is hereby granted, free of charge, to any person obtaining
                                    a copy of this software and associated documentation files (the
                                    "Software"), to deal in the Software without restriction, including
                                    without limitation the rights to use, copy, modify, merge, publish,
                                    distribute, sublicense, and/or sell copies of the Software, and to
                                    permit persons to whom the Software is furnished to do so, subject to
                                    the following conditions:

                                    The above copyright notice and this permission notice shall be
                                    included in all copies or substantial portions of the Software.

                                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
                                    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
                                    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
                                    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
                                    LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
                                    OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
                                    WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg bg-dark">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed bg bg-dark text text-white" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Version
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body bg bg-dark text text-muted">
                                    This is <i>pre-alpha</i> version.
                                    0.0.0.0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4 mb-3">
                            <h5>Stack</h5>
                            <ul class="list-unstyled">

                                {% for foot in footer.stack %}
                                
                                <li class="mb-2">
                                    <a class="link link-secondary" href="{{ foot.link }}" target="_blank">
                                        
                                        {% if foot.icon %}
                                            <i class="bi bi-{{foot.icon}}"></i>
                                        {% endif %}
                                            
                                        {{ foot.title }}

                                    </a>
                                </li>
                                
                                {% endfor %}
                                
                            </ul>
                        </div>
                        <div class="col-md-4 mb-3">
                            <h5>Links</h5>
                            <ul class="list-unstyled">
                                
                                {% for foot in footer.links %}
                                    
                                <li class="mb-2">
                                    <a href="{{ foot.link }}" class="link link-secondary" target="_blank">
                                        
                                        {% if foot.icon %}
                                        
                                        <i class="bi bi-{{foot.icon}}"></i>
                                        
                                        {% endif %}
                                        
                                        {{ foot.title }}

                                    </a>
                                </li>

                                {% endfor %}
                                
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-3">
                            <h5>Developer</h5>
                            <ul class="list-unstyled">
                                
                            {% for foot in footer.developer %}
                                
                                <li class="mb-2">
                                    <a href="{% if foot.title.lower == 'email' %}mailto:{% endif %}{{ foot.link }}" class="link link-secondary">
                                        
                                        {% if foot.icon %}
                                        
                                        <i class="bi bi-{{ foot.icon }}"></i>
                                            
                                        {% endif %}
                                        
                                        {{ foot.title }}

                                    </a>
                                </li>
                                
                            {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'bootstrap/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        });
        if ($('#message').length){
        setTimeout(function() {
        window.location.replace("{% url 'homePage' %}")
        }, 3000);
        }
    </script>
</body>

</html>