{% extends 'matabase/base.html' %}


{% block content %}
    <table class="table table-dark">
        <thead>
            <tr>
                <td style="width: 60%">Title</td>
                <td style="width: 20%">Year</td>
                <td style="width: 20%">Status</td>
            </tr>
        </thead>
        <tbody>
            
            {% for object in object_list %}
                
            <tr class="">
                <td>
                    <a class="" href="{% url 'CMatabaseDetailView' object.pk %}">[{{ object.pk }}]
                        <i class="bi bi-link"></i>{{ object.title }}</a>
                </td>
                <td>{{ object.year }}</td>
                <td><span class="badge bg-secondary rounded-pill"> 
                    {{ object.status }} </span>
                    <a href="{% url 'CMatabaseUpdateView' object.pk %}"><i class="bi bi-pencil">Update</i></a>
                    <a href="{% url 'CMatabaseDeleteView' object.pk %}"><i class="bi bi-trash">Delete</i></a>
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item"></li><a href="?page=1" class="page-link">&laquo; first</a></li>
                            <li class="page-item"></li><a href="?page={{ page_obj.previous_page_number }}"
                                class="page-link">previous</a></li>
                            {% endif %}

                            <li class="page-item"></li><a class="page-link disabled">Page {{page_obj.number}} of
                                {{page_obj.paginator.num_pages}}</a>
                            </li>

                            {% if page_obj.has_next %}
                            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}"
                                    class="page-link">next</a></li>
                            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}"
                                    class="page-link">last
                                    &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock content %}
    