{% extends 'matabase/base.html' %}
{% block content %}
<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" aria-label="Segment one" style="width: {{ count.watAsPercentage }}%" aria-valuenow="{{ count.watAsPercentage }}"
        aria-valuemin="0" aria-valuemax="100">
        Watched: {{ count.watAsPercentage }}%
    </div>
    <div class="progress-bar bg-success" role="progressbar" aria-label="Segment two" style="width: {{ count.dowAsPercentage }}%"
        aria-valuenow="{{ count.dowAsPercentage }}" aria-valuemin="0" aria-valuemax="100">
        Download: {{ count.dowAsPercentage }}%
    </div>
    <div class="progress-bar bg-danger" role="progressbar" aria-label="Segment three" style="width: {{ count.delAsPercentage }}%"
        aria-valuenow="{{ count.delAsPercentage }}" aria-valuemin="0" aria-valuemax="100">
        Deleted: {{ count.delAsPercentage }}%
    </div>
</div>
<div class="row justify-content-center my-3">
    <div class="col-10 col-sm-3 mx-1 my-1 px-3 py-3 card bg-warning">
        <div class="card-body text-center">
            <h5 class="card-title">
                <i class="bi bi-eye"></i>
                : {{ count.watched }}
            </h5>
            <p class="card-text d-none d-lg-block">Total: {{ count.all }}</p>
            <p class="card-text d-none d-lg-block">Watched: {{ count.watched }}</p>
            <p class="card-text"><span class="d-none d-lg-block">Percentage: </span>{{ count.watAsPercentage }}%</p>
        </div>
    </div>
    <div class="col-10 col-sm-3 mx-1 my-1 px-3 py-3 card bg-success">
        <div class="card-body text-center">
            <h5 class="card-title">
                <i class="bi bi-cloud-download"></i>
                : {{ count.downloaded }}
            </h5>
            <p class="card-text d-none d-lg-block">Total: {{ count.all }}</p>
            <p class="card-text d-none d-lg-block">Downloaded: {{ count.downloaded }}</p>
            <p class="card-text"><span class="d-none d-lg-block">Percentage: </span>{{ count.dowAsPercentage }}%</p>
        </div>
    </div>
    <div class="col-10 col-sm-3 mx-1 my-1 px-3 py-3 card bg-danger">
        <div class="card-body text-center">
            <h5 class="card-title">
                <i class="bi bi-trash"></i>
                : {{ count.deleted }}
            </h5>
            <p class="card-text d-none d-lg-block">Total: {{ count.all}}</p>
            <p class="card-text d-none d-lg-block">Deleted: {{ count.deleted }}</p>
            <p class="card-text"><span class="d-none d-lg-block">Percentage: </span>{{ count.delAsPercentage}}%</p>
        </div>
    </div>
</div>
{% endblock content %}