{% extends 'matabase/base.html' %}

{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button"
            role="tab" aria-controls="register" aria-selected="true">Register</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab"
            aria-controls="login" aria-selected="false">Login</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
        <div class="row justify-content-center">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 border-end border-bottom">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control form-control-sm" placeholder="Username" name="username"
                            id="username">
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating my-1">
                        <input type="password" class="form-control form-control-sm" placeholder="Password"
                            name="password" id="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating my-1">
                        <input type="password" class="form-control form-control-sm" placeholder="Confirm Password"
                            name="confirmPassword" id="confirmPassword">
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                    <div class="form-floating my-1">
                        <input type="email" class="form-control form-control-sm" placeholder="Email" name="email"
                            id="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating my-1">
                        <input type="number" class="form-control form-control-sm" placeholder="Tel" name="tel"
                            id="tel" maxlength="8">
                        <label for="tel">Phone number</label>
                    </div>
                    <div class="form-floating my-1">
                        <input type="text" class="form-control form-control-sm" placeholder="Firstname" name="firstname"
                            id="firstname">
                        <label for="firstname">Firstname</label>
                    </div>
                    <div class="form-floating my-1">
                        <input type="text" class="form-control form-control-sm" placeholder="Lastname" name="lastname"
                            id="lastname">
                        <label for="lastname">Lastname</label>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-secondary btn-sm form-control mb-3"
                                name="registerButton" id="registerButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                    <path fill-rule="evenodd"
                                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
        <div class="row justify-content-center mt-3">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 border-end border-bottom">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control form-control-sm" id="floatingInput"
                            placeholder="Username" name="username" id="username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control form-control-sm" id="floatingPassword"
                            placeholder="Password" name="password" id="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="row justify-content-end mt-1 mb-3">
                        <div class="col col-sm-12 col-md-6 col-lg-4">
                            <button type="submit" class="btn btn-sm btn-outline-success form-control form-control-sm"
                                name="loginButton" id="loginButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}